[submodule "public"]
	path = public
	url = git@github.com:deeperbreaths/deeperbreaths.github.io.git
	branch = master
[submodule "themes/hugo-future-imperfect"]
	path = public
	url = git@github.com:deeperbreaths/hugo-future-imperfect.git
	branch = master